*, *::before, *::after {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	background: url(https://images.unsplash.com/photo-1615629616377-c302ef74fbd1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=633&q=80);
	background-repeat: repeat;
}

header {
	padding: 40px;
	text-align: center;
	background: rgba(63, 63, 58, 0.5);
	color:rgb(150, 138, 101);
}

#welcome-section {
	height: auto;
	padding: 2em;
	text-align: center;
	color:rgb(150, 138, 101);
}

.container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	justify-content: space-evenly;
	text-align: center;
	flex-wrap: wrap;
}

.tile {
	padding: 1em;
	margin-bottom: 1em;
	min-width: 200px;
	max-width: 200px;
	background-color: rgba(185, 184, 107, 0.377);
	display: flex;
}

.innerTile {
	background-color: rgba(255, 255, 224, 0.192);
	padding: 0.5em;	
	min-height: 100px;
	display: flex;
	flex-direction: column;
}

.innerBox {
	border:rgb(51, 25, 3) solid;
	min-height: 10px;
	margin-top: 0.2em;
}

a:link {
	color: goldenrod;
}

a:visited {
	color: rgb(51, 25, 3);
}

a:hover {
	color: rgb(102, 52, 6);
	
}

a:active {
	color:rgba(63, 63, 58);
}

footer {
	padding: 20px;
	background-color: rgba(63, 63, 58, 0.5);
	color: rgb(150, 138, 101);
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

#search, #submit, #searchBox {
	border-radius: 8px;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.dots {
	min-height: 110px;
}