*, *::before, *::after {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	background: url(https://images.unsplash.com/photo-1615629616377-c302ef74fbd1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=633&q=80);
	background-repeat: repeat-x;
}

header {
	padding: 40px;
	text-align: center;
	background: rgba(63, 63, 58, 0.5);
	color:rgb(150, 138, 101);
}

#welcome-section {
	height: auto;
	padding: 2em;
	text-align: center;
	color:rgb(150, 138, 101);
}

.container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	justify-content: space-evenly;
	text-align: center;
	flex-wrap: wrap;
}

.tiles {
	padding: 1em;
	margin-bottom: 1em;
	min-width: 500px;
	background-color: rgba(185, 184, 107, 0.377);
}

.project-link {
	background-color: rgba(255, 255, 224, 0.192);
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

a:link {
	color: goldenrod;
	background-color: rgba(100, 148, 237, 0.149);
}

a:visited {
	color: rgb(51, 25, 3);
	background-color: rgba(83, 6, 102, 0.473);
}

a:hover {
	color: rgb(102, 52, 6);
	
}

a:active {
	color:rgba(63, 63, 58);
	background-color: rgba(90, 86, 88, 0.453);
}

footer {
	padding: 20px;
	background-color: rgba(90, 86, 88, 0.453);
	color: white;
	text-align: center;
}

.dots {
	min-height: 110px;
}